@media (min-width: 960px) {

}

@media screen and (min-width:541px) and (max-width: 959px) {

}

@media (max-width: 540px) {
    header > div {
        flex-direction: column;
        align-items: center;
    }
}

header {
    background-color: green;
    display: flex;
    justify-content: center;
}

header > div {
    max-width: 800px;
    display: flex;
    justify-content: center;
}

main {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
}

body {
    padding: 0;
    margin: 0;
}

img {
    width: 30%;
}

main > div {
    max-width: 800px
}